*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
nav p{
    background-color: antiquewhite;
}
nav ul{
    display: flex;
    list-style-type: none;
    padding: 20px 20px;
    justify-content: center;
    background-color: aqua;
    
}
nav ul li{ 
    position: relative;
}
nav ul li a{
    padding: 20px ;
    text-decoration: none; 
    color:black;
    text-transform: capitalize;
    font-size: 20px;
  
}
nav ul li ul li{
    position: absolute;
}
nav img{
    width: 100%; 
}
nav p{
    padding: 20px;
}
